{%extends "p_layout.html"%}

{%block content%}
<!--menu-->
	<div class="menu-agileits_w3layouts section">
		<div class="container">

			<div class="load_more">
				<h3 class="w3layouts-title">
					<img src="../static/images/menu1.png" class="img-responsive" alt="" />about us</h3>
				<ul id="myList">

                    <div class="about-grid">
                        <div class="col-md-6 about-sub-grid">
                            <div class="col-md-6 about-right about-right-flex">
                                <div class="about-bottom-text">
                                    <h4 class="title1">our story </h4>
                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipi est eligendi scing elit Nam libero tempore cum soluta nobis est eligendi</p>
                                </div>
                                <div class="about-bottom-grid about-img1">
                                </div>
                            </div>
                            <div class="col-md-6 about-right about-right-flex">
                                <div class="about-bottom-grid about-img2">
                                </div>
                                <div class="about-bottom-text ab1">
                                    <h4 class="title1">delicious food </h4>
                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipi est eligendi scing elit Nam libero tempore cum soluta nobis est eligendi</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-6 about-bottom-grid about-bg"></div>
                        <div class="clearfix"></div>
                    </div>
				</ul>
			</div>
		</div>

	</div>
    <!--//menu-->
    {%endblock%}