{%extends "a_layout.html"%}

{%block content%}

<!-- /inner_content -->
<div class="inner_content_info_agileits">
    <div class="container">
        <h3 class="heading-agileinfo"><br><br>Update Category</h3>
        <div class="modal-body align-w3">
            <form action="/add_categoryupdate/{{task.id}}" method="POST" class="p-sm-3">
                <div class="form-group">
                    <label class="mb-2">Category</label>
                    <input type="text" class="form-control" value="{{task.category}}" id="category" name="category" aria-describedby="emailHelp" placeholder="" required="">
                <div><br>
                <div class="right-w3l">
                    <input type="submit" class="form-control bg-theme" value="UPDATE">
                </div><br>
            </form>
        </div>
    </div>
</div></div>

<!-- //inner_content -->
{%endblock%}