{%extends "p_layout.html"%}

{%block content%}
<!--menu-->
	<div class="menu-agileits_w3layouts section">
		<div class="container">

			<div class="load_more">
				<h3 class="w3layouts-title">
					<img src="../static/images/menu1.png" class="img-responsive" alt="" />contact us</h3>
				<ul id="myList">

                    <div class="contact-bottom" id="contact">
                        <div class="col-md-6  map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.30591910525!2d-74.25986432970718!3d40.697149422113014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1510226274125" style="border:0" allowfullscreen></iframe>

                        </div>
                        <div class="col-md-6 contact-right">
                            <h3 class="title-contact">get in touch</h3>
                            <form action="/contact" method="POST">
                                <div class="contact-input">
                                    <input type="text" class="" name="firstname" id="" placeholder="First Name" required="">
                                </div>
                                <div class="contact-input">
                                    <input type="text" class="" name="lastname" id="" placeholder="Last Name" required="">
                                </div>
                                <div class="contact-input">
                                    <input type="email" class="" name="email" id="" placeholder="Email" required="">
                                </div>
                                <div class="contact-input">
                                    <input type="text" class="" name="subject" id="" placeholder="Subject" required="">
                                </div>
                                <div class="contact-input">
                                    <textarea placeholder="Your Message" name="message" id="" required=""></textarea>
                                </div>
                                    <input type="submit" value="SEND MESSAGE">
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div></ul></div></div></div>
                    <!-- //contact -->
    {%endblock%}