{%extends "p_layout.html"%}

{%block content%}

<!-- /inner_content -->
<div class="inner_content_info_agileits">
    <div class="container">
        <h3 class="heading-agileinfo"><br><br>Log In</h3>
        <div class="modal-body align-w3">
            <form action="#" method="POST" class="p-sm-3">
                <div class="form-group">
                    <label class="mb-2">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label class="mb-2">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div><br>
                <div class="right-w3l">
                    <input type="submit" class="form-control bg-theme" value="ADD">
                </div><br>
                <p class="text-center pb-4">
                    <a href="register"> Don't have an account?</a>
                </p>
            </form>
        </div>
    </div>
</div>

<!-- //inner_content -->
{%endblock%}