{%extends "u_layout.html"%}

{%block content%}
			<!-- banner -->
			<div class="container">
				<div class="banner-top">
					<div class="banner-info">
						<h1>
							<a href="index.html">
								<img src="../static/images/logo.png" class="img-responsive" alt="" />Spicy Bite</a>
						</h1>
						<h2>Tasty experience in every bite!</h2>

						<div class="about-p text-center">
							<span class="sub-title"></span>
							<span class="fa fa-cutlery" aria-hidden="true"></span>
							<span class="sub-title"></span>
						</div>
						<p>make your kinda meal
							<p>

					</div>
				</div>

			</div>

			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //banner -->

	<!-- //taste the best -->

	
{%endblock%}