{%extends "a_layout.html"%}
{%block content%}

	<!--.testimonials-->
	<div class="section carousel-reviews broun-block" id="testimonials">
		<div class="container">
			<h3 class="w3layouts-title text-center">User Dashboard</h3>
			<div class="row">
				<div id="carousel-reviews"  data-ride="carousel">

					<div class="carousel-inner">
						<div class="item active">
							<div class="col-md-3 col-sm-6 view-testi" role="button">
								<div class="block-text rel zmin"><a href="#">
									<h6>Add Category</h6>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 hidden-xs" role="button">
								<div class="block-text rel zmin"><a href="#">
									<h6>Add Food</h6>
									</div>
							</div>
							<div class="col-md-3 col-sm-6 hidden-sm hidden-xs" role="button">
								<div class="block-text rel zmin"><a href="#">
									<h6>View Contacts</h6>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 hidden-sm hidden-xs" role="button">
								<div class="block-text rel zmin"><a href="#">
									<h6>User Order view</h6>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}